extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  // Custom styles for this template
  link(href='../css/navbar-fixed-top.css', rel='stylesheet')

block body
  // Fixed navbar
  +navbar-fixed("Project: Colenso","navbar")
    +nav_item("/") Home
    +nav_item("/xquery") XQuery
    +nav_item("/browse","active") Browse
    +nav_item("/edit") Edit
    +nav_item("/upload") Upload
    +nav_item("/about") About
    form.navbar-form.navbar-left(action="/", method="get", role='search')
      .form-group
        input.form-control(type='text', placeholder='Search', name="search_bar")
      button.btn.btn-default(type='submit') Submit


  .container
    // Main component for a primary marketing message or call to action
    .jumbotron
        .btn-group(data-toggle='buttons')
          label.btn.btn-primary.active
            input(type='radio', autocomplete='off', value='text', checked='')
            |  TEXT
          label.btn.btn-primary
            input(type='radio', autocomplete='off', value='raw')
            |  RAW
        ul
          p !{place}
