extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  // Custom styles for this template
  link(href='../css/navbar-fixed-top.css', rel='stylesheet')

block body
  // Fixed navbar
  +navbar-fixed("Project: Colenso","navbar")
    +nav_item("/") Home
    +nav_item("browse") Browse
    +nav_item("edit") Edit
    +nav_item("upload","active") Upload
    +nav_item("about") About
    
  

  .container
    // Main component for a primary marketing message or call to action
    .jumbotron
      h1 Project: Colenso
      p
        |  Upload !{place}?
